<div class="col-md-4 col-lg-2 pt-0 pb-0 mb-1 mt-1">
	<div class="card d-block w-100 border-0">
		<a role="button" class="link-reset" href="{{ url_for('main.experience) }}'">
		<div class="tubayo-shop-slide h-auto w-100" >
			<img class="card-img-top rounded img-fluid h-auto w-100" src="{{ url_for('main.uploaded_item', filename=item.filename) }}" alt="{{ item.filename }}">
		</div>
		</a>
		<a role='button' class="link-reset" href="{{ url_for('main.experience', id=item.id)}}" data-toggle="modal" data-target="#exampleModalCenter {{ url_for('main.shop', id=item.id)}}">
			<div class="card-body px-0 py-1 text-center">
				<p class="mb-1 text-bold-md">{{ item.item_name}}</p>
				<p class="mb-0 text-small-faint">${{item.price}}</p>
			</div>
		</a>
	</div>
</div>