{% from 'macros.html' import render_form %}
{% extends 'layout.html' %}
{% set active_page = "host" %}
{% block body %}

	<div class="uk-section uk-section-xsmall uk-container uk-container-small">
		<h3>Experinces</h3>
		<div class="uk-card uk-card-body uk-card-default uk-text-center">
			{{ render_form(form, action_url='/admin/experience/', action_text='Submit Form') }}
		</div>
	</div>

{% endblock %}