{% extends 'base.html' %}
{% from 'macros.html' import render_form %}
{% block content %}
<link rel="stylesheet" href="jquery.datetimepicker.min.css">
<script src="jquery.js"></script>
<script src="jquery.datetimepicker.full.js"></script>
<main>
	<div class="container pt-5">
	    <div class="card">
	        <div class="card-header">
	            BOOK NOW!
	        </div>
	        <div class="card-block m-auto w-50">
					<div class="float-left">
							<p>
								
								Experience id: <a href="#">{{request.args.get('exp_id')}}</a>
							</p>
						</div>
			{{ render_form(form, action_url='/book', action_text='Book Now') }}
			
	            <!-- <form role="form">
	                <div class="form-group col-lg-4">
	                    <label class="form-control-label" for="form-group-input">Name</label>
						<input type="text" class="form-control" id="form-group-input" name="name">
						<input id="datetime">
						<script>
						$("#datetime").datetimepicker();
						</script>
	                </div>
	                <div class="form-group col-lg-4">
	                    <label class="form-control-label" for="form-group-input">Email</label>
	                    <input type="text" class="form-control" id="form-group-input" name="email">
	                </div>
	                <div class="form-group col-lg-4">
	                    <label class="form-control-label" for="form-group-input">Reason</label>
	                    <select size="0" class="form-control" name="reason">
	                        <option>Sales</option>
	                        <option>Tech Support</option>
	                        <option>General Feedback</option>
	                    </select>
	                </div>
	                <div class="form-group col-lg-12">
	                    <label class="form-control-label" for="form-group-input">Notes</label>
	                    <textarea class="form-control" id="form-group-input" name="notes" rows="6"></textarea>
	                </div>
	            </form> -->
	        </div>
	    </div>
	</div>
</main>
<link rel="stylesheet" href="/app/main/templates/main/jquery.datetimepicker.min.css">
<script src="/app/main/templates/main/jquery.js"></script>
<script src="/app/main/templates/main/jquery.datetimepicker.full.js"></script>
{% endblock content %}
