{% from 'paginate.html' import render_pagination %}
{% extends 'base.html' %}
{% set active_page = "experience" %}

{% block content %}

<main role="main" class="container-fluid bg-white">
	<section id="experiences">
		<h3 class="pb-1 mb-2 pt-3 font-weight-bold border-bottom">
			<div class="clearfix">
				<h3 class="float-left">Experiences</h3>
			</div>
		</h3>

		<div class="py-4">
			<div class="row equal">
				{% for experience in experience.items %}

				<div class="col-sm-6 col-md-3 pt-0 pb-0 mb-1 mt-1">
					<a class="link-reset" href="{{ url_for('main.detail', id=experience.experience_id)}}">
						<div class="card mb-1 mt-1 border-0 h-100">
							<div class="tubayo-experience-img tubayo-experiencemobile-img w-100 ">
								<img class="card-img-top rounded img-fluid h-100" src="{{ url_for('main.uploaded_experience', filename=experience.image.filename) }}" alt="Card image cap">
							</div>
							<div class="card-body px-0 py-1">
								<p class="mb-1 card-text text-uppercase text-small">{{ experience.experience.experience_title }} · <span>{{experience.experience.place}}</span></p>
								<p class="mb-1 text-bold-md">{{ experience.experience.tag }}</p>
								<p class="mb-0 text-small-faint">USD {{ experience.experience.price }} per person</p>

								<div class="mb-0 mt-0 d-flex justify-content-between align-items-center">
									<span class="rateYo pl-0"><input type="hidden" value="{{ experience.experience.Weighted_Average }}" name="rateyoid" class="rateyoid"></span>
									<span class="review float-left" aria-label="{{ experience.experience.reviews_no }} reviews">
										<span class="reviews">{{ experience.experience.reviews_no }}</span>
									</span>
								</div>

							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% if experience.pages >1 %}
	{{ render_pagination( experience, 'main.experience') }}
	{% endif %}
</main><!-- /.container -->


{% endblock %}



