{% extends 'base.html' %}

{% block content %}
<main>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="block">
					<div class="tubayo-content sidebar">
						
						<div class="card border-0 sticky-top">
							<div id="carouselTubayoIndicators" class="carousel slide d-none d-sm-none d-md-block card-img-top" data-ride="carousel">
								<ol class="carousel-indicators">
									{% for image in experience.images.all() %}
									<li data-target="#carouselTubayoIndicators" data-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %} active{% endif %}"></li>
									{% endfor %}
								</ol>
								<div class="carousel-inner" role="listbox">
									{% for image in experience.images.all() %}
									<div class="carousel-item carousel-detail-height{% if loop.index == 1 %} active{% endif %}" style="background-image: url('{{ url_for('main.uploaded_experience', filename=image.filename) }}');">		  
									</div>
									{% endfor %}
								</div>
								<a class="carousel-control-prev" href="#carouselTubayoIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselTubayoIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
							<div class="card-body p-0 pt-3 ">
								<div class="clearfix">
									<div class="float-left">
										<p class="">
											${{ experience.price }} per person
										</p>
									</div>
									<div class="float-right">
										<button role='button' class="btn btn-primary my-0 pb-1" data-toggle="modal" data-target="#tubayoModal">See Dates</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-8">
				<div class="tubayo-content container">

					<div class="exp-details">
						<div class="">
							<h2 class="pb-2 mb-2 font-weight-bold">
								{{ experience.experience_title }}
							</h2>
							<div class="clearfix">
								<div class="float-left">
									<p>
										{{ experience.tag }} <br>
										Hosted by <a href="">{{experience.hosts.host_name}}</a>
									</p>
								</div>
								<div class="float-right">
									<img src="https://tubayo.com/static/assets/img/Tubayo-travel--logo.png" alt="Avatar" class="avatar">
								</div>
							</div>
							<hr class="w-100">
						</div>

						<div class="">
							<ul class="pl-0" style="list-style-type:none">
							  <li><i class="fa fa-map mr-2"></i>{{ experience.place }}</li>
							  <li><i class="fas fa-bullseye mr-2"></i>{{ experience.country }}</li>
							  <li><i class="fas fa-coffee mr-2"></i>{{ experience.hosts.provisions }}</li>
							  <li><i class="fas fa-comment mr-2"></i>{{ experience.hosts.language }}</li>
							</ul> 
							<hr class="w-100">
						</div>

						<div class="">
							<h2 class="pb-2 mb-2 font-weight-bold">
								About your host {{experience.hosts.host_name}}
							</h2>
							<p> {{ experience.hosts.about_host }}</p>
							<hr class="w-100">
						</div>

						<div class="">
							<h2 class="pb-2 mb-2 font-weight-bold">
								About experience
							</h2>
							<p> {{ experience.about_experience }} </p>
							<hr class="w-100">
						</div>


						<div class="">
							<h2 class="pb-2 mb-2 font-weight-bold">
								Who can come
							</h2>
							<p>{{ experience.who_can_come }}</p>

							<hr class="w-100">
						</div>

						<div class="">
							<h2 class="pb-2 mb-2 font-weight-bold">
								Dates Available
							</h2>
							{% for date in experience.dates.all() %}
							<div class="clearfix">
								<div class="float-left font-weight-normal">
									<p class="mb-0 text-date">
									{{ moment(date.dates_available).format('LL') }}
									</p>
									<p class="mt-0 mb-0 text-time"> <span> {{ moment(date.start).format('LT') }} - </span> <span> {{ moment(date.end).format('LT') }} </span> <span> ${{ experience.price }} per person</span> </p>
								</div>
								<!--<div class="float-right">
									<a role='button' class="btn btn-outline-primary" href="{{ url_for('main.bookr') }}">Choose</a>
								</div>-->
							</div>
							<hr class="w-100 mt-1">
							{% endfor %}
						</div>-->

						<div>
							<div class="clearfix">
								<a href="{{ url_for('main.review', exp_id=experience.id, rate=experience.Weighted_Average )}}  " class="badge badge-primary float-left">Rate</a> &nbsp;
								<br>
								<a href="{{ url_for('main.review', exp_id=experience.id, rate=experience.Weighted_Average )}}"  class="badge badge-primary float-left">View more</a>
							  <span class="float-right">
							  {{ experience.reviews_no }} Review(s)</span>
							</div>
								{% for comment in experience.exp_comment.all() %}
								{% if loop.index <= 3 %}
										<div class="card mt-2">
										    <div class="card-body">
										        <div class="row">
									        	    <div class="col-md-2">
									        	        <div class="row">
									        	        	<div class="col-md-12 m-auto text-center">
									        	        		<img class="avatar" src="https://tubayo.com/static/assets/img/Tubayo-travel--logo.png" class="img img-rounded img-fluid"/>
									        	        	</div>
									        	        	<div class="col-md-12 m-auto text-center">
									        	        		<p class="text-secondary text-center text-small">{{ moment(comment.created_on).fromNow() }}</p>
									        	        	</div>
									        	        </div>
									        	    </div>
									        	    <div class="col-md-10">
									        	        <p>
									        	            <span class="float-left text-primary text-capitalize">
									        	            	{{comment.comments.username}} 
									        	        	</span>
									        	            <span class="review-block-date pl-1">{{ moment(comment.created_on).format('LL') }}</span>
									                        <span class="rateYo float-right"><input type="hidden" value="{{comment.exp_comments.Weighted_Average}}" name="rateyoid" class="rateyoid"></span>

									        	       </p>
									        	       <div class="clearfix"></div>
									        	        <p>{{ comment.comment}}</p>
									        	        
									        	    </div>
										        </div>
										    </div>
										</div>
								{% endif %}
								{% endfor %}
								<div>
									<div class="clearfix pt-2 pb-2">
										<div class="m-auto mt-1 text-center">
											
											<a role='button'  class="btn btn-primary" href="{{ url_for('main.bookr', exp_id=experience.id )}}">Book</a>
										</div>
									</div>
								</div>
						</div>
						
						
					</div>

				</div>
			</div>
		</div>
	</main>
	{% endblock %}
	{% block outcontent %}
		<!-- Modal -->
		<div class="modal fade" id="tubayoModal" tabindex="-1" role="dialog" aria-labelledby="tubayoModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Dates Available</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        {% for date in experience.dates.all() %}
		        <div class="clearfix">
		        	<div class="float-left font-weight-normal">
		        		<p class="mb-0 text-date">
		        		{{ moment(date.dates_available).format('LL') }}
		        		</p>
		        		<p class="mt-0 mb-0 text-time"> <span> {{ moment(date.start).format('LT') }} - </span> <span> {{ moment(date.end).format('LT') }} </span> <span> ${{ experience.price }} per person</span> </p>
		        	</div>
		        	<div class="float-right">
		        		<a role='button' class="btn btn-outline-primary" href="">Choose</a>
		        	</div>
		        </div>
		        <hr class="w-100 mt-1">
		        {% endfor %}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	{% endblock %}
