{% extends 'base.html' %}
{% from 'macros.html' import render_form %}
{% block content %}
<main>
	<div class="container pt-5">
	    <div class="card">
	        <div class="card-header">
	            Become a Host
	        </div>
	        <div class="card-block m-auto w-50">
			{{ render_form(form, action_url='/host/', action_text='Submit Form') }}
	            <!-- <form role="form">
	                <div class="form-group col-lg-4">
	                    <label class="form-control-label" for="form-group-input">Name</label>
	                    <input type="text" class="form-control" id="form-group-input" name="name">
	                </div>
	                <div class="form-group col-lg-4">
	                    <label class="form-control-label" for="form-group-input">Email</label>
	                    <input type="text" class="form-control" id="form-group-input" name="email">
	                </div>
	                <div class="form-group col-lg-4">
	                    <label class="form-control-label" for="form-group-input">Reason</label>
	                    <select size="0" class="form-control" name="reason">
	                        <option>Sales</option>
	                        <option>Tech Support</option>
	                        <option>General Feedback</option>
	                    </select>
	                </div>
	                <div class="form-group col-lg-12">
	                    <label class="form-control-label" for="form-group-input">Notes</label>
	                    <textarea class="form-control" id="form-group-input" name="notes" rows="6"></textarea>
	                </div>
	            </form> -->
	        </div>
	    </div>
	</div>
</main>
{% endblock content %}
