{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>tubayo</title>
</head>


<style type="text/css">
	/* Layout: */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.drty-tby{
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;

}
@media (min-width: 200px) and (max-width: 400px) {
  .drty-tby{
   font-size: 20px;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: auto;
   margin-bottom: auto;

    

  }
}

p.tryt-tby{
font-family: Arial, Helvetica, sans-serif;
color: #fff;



}

p.vty-tby{
text-align: center;
font-size: 15px ! important;
color: #484848;
font-family: Arial, Helvetica, sans-serif;
background-color: #e2ecea;


}



.fnttby-font{
	font-size: 20px ! important;
	font-weight: 800 !important;
	color: #484848;

}

.htgs-tby{
	color: #484848;
	font-weight: 800 ! important;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;



}
.tubayo-btnzxt {
  display: inline-block;
  border-radius: 5px;
  background-color: #c9e4c7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 12px 15px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: -20px -100px; 
  position:relative;
  top:50%; 
  left:50%;

}

.col-main {
  flex: 3;  
}  


.col-complementary {
  flex: 2; 
  
}

/* Responsive: */

@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    

  }
}

/* etc */

body {
  margin: 1em;

}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.col {
  padding: 1.8rem;
  margin: 0 2px 2px 0;
  height: 300px;
  border-radius: 4px;
  
}

.layouthead{
	padding-top: 5px;
	padding-bottom: 4rem;
	height: 300px;
	text-align: center;
	justify-content: auto;
	background-image: url(https://www.artofsmart.com.au/wp-content/uploads/2018/07/full-width-example.jpg);
	object-fit:scale-down;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    
}

strong.hw2{
	text-align: center;
	font-size:4vw;



}

@media screen and (min-width: 601px) {
  strong.hw44 {
    font-size: 40px;
    color: #484848 !important;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (max-width: 600px) {
  strong.hw44 {

    color: #484848 !important;
    font-size: 2em !important;
    font-weight:  !important;
    margin: 0px !important;
    padding: 0px !important;
    
  }
}


</style>


<style type="text/css">
	
/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: left;
  
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.cccc {
	flex: 1;

	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

footer {
	padding: 0 15px;
}


@media screen and (max-width: 980px) {
  .columns .cccc {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .cccc {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}


</style>
<body>



<div class="container">

	<div class="layouthead">

	  <p class="col col-main tryt-tby " role="main">
      <strong class="drty-tby">What are Tubayo Experiences</strong><br>
      Tubayo Experiences are activities designed and led by inspiring local. It’s an opportunity for anyone to share their hobbies, culture and passion.
     </p>

	</div>

<p></p>
<p></p>
  

  <div class="layout">
    <p class="col col-main vty-tby" role="main">
      <strong class="hw44">Why become a host?</strong><br><br> 

      Introduce guests to the activities and places you’re most passionate about.
Connect with a community of travelers and locals who share your interests.
Make some extra money
Learn other cultures
It's free to host, you’ll get your own page on Tubayo that travelers can use to book your experience. 
    </p>


    <p class="col col-complementary" role="complementary" style="background-image: url(https://i0.wp.com/edge.ug/wp-content/uploads/2018/09/ny.jpg?fit=802%2C541&ssl=1); background-size: cover;">
      <!--<strong>Side:</strong><br> Complementary content. -->
    </p> 

  </div>
  		<p></p>


 <div class="wrapper">

	<header class="htgs-tby">
        <h1 style="text-align: center;">Join our local host community leading people on activities you love and earn money for it.</h1>
        
	</header>

	
		<div class="container">
			<button class="btn btn-secondary"><a href = "{{ url_for('main.host')}}" >Become a host</a></button>

		</div>

 </div>
	


</div>

</div>

</body>
</html>

<style>
    /* html {
        background-image: url({{url_for('static', filename='assets/img/amazing-animal-beautiful-beautifull.jpg')}}) ; 
        background-repeat: no-repeat;
        background-cover: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
    }  */
   
    .body img {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    #mybutton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 600px) {
        .text {
            width: 50%;
            padding: 50px;
        }
    }

    @media screen and (max-width: 600px) {
        .text {
            padding: 30px;
        }
    }

    @media screen and (min-width: 600px) {
        .images {
            width: 50%;
            padding: 50px;
            position: absolute;
            bottom: -140px;
            right: 20px;
        }
    }

    @media screen and (max-width: 600px) {
        .images {
            display: none;
        }
    }

  

    }

</style>

{% endblock %}
