{% extends 'base.html' %}
{% set active_page = "index" %}

{% block content %}
    {% block header %}{% endblock %}

    <main role="main" class="container-fluid bg-white">
        <div class="row">
            <div class="col-md-9 blog-main">
                
                {% block stories %}{% endblock %}
                
                {% block shop %}{% endblock %}

                {% block experiences %}{% endblock %}

                

                {% block flyer %}{% endblock %}

                {% block tubayotrend %}{% endblock %}

            </div><!-- /.tubayo-main -->

            {% block sidebar %}{% endblock %}

        </div><!-- /.row -->
    </main><!-- /.container -->
{% endblock %}
