{% extends 'main/index.html' %}

{% block header %}
<header>
	<div id="carouselTubayoIndicators" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselTubayoIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselTubayoIndicators" data-slide-to="1"></li>
			<li data-target="#carouselTubayoIndicators" data-slide-to="2"></li>
		</ol>
		<a href="{{ url_for('main.experience')}}">
		<div class="carousel-inner" role="listbox">
			{% for slideshow in slideshow %}
			
			<div class="carousel-item carousel-height{% if loop.index == 1 %} active{% endif %}" style="background-image: url('{{ url_for('main.uploaded_file', filename=slideshow.filename) }}');">			  
			</div>
			{% endfor %}
		</div></a>
		<a class="carousel-control-prev" href="#carouselTubayoIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselTubayoIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<!-- mobile -->
	<div id="carouselTubayomobileIndicators" class="carousel slide mobile d-block d-sm-block d-md-none d-lg-none d-xl-none" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselTubayomobileIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselTubayomobileIndicators" data-slide-to="1"></li>
			<li data-target="#carouselTubayomobileIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			{% for slideshow in slideshowMobile %}
			<div class="carousel-item carousel-mobile-height{% if loop.index == 1 %} active{% endif %}" style="background-image: url('{{ url_for('main.uploaded_file', filename=slideshow.filename) }}');">		  
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselTubayomobileIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselTubayomobileIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</header>
{% endblock %}

{% block stories %}
{%if story %}
	<section id="stories">
		<h3 class="pb-1 mb-2 font-weight-bold border-bottom">
			<div class="clearfix">
				<h3 class="float-left mt-3">Tubayo Stories</h3>
			</div>
		</h3>
		<div class="d-flex align-items-center pb-0 mb-0 text-white-50 bg-white">
			<div id="stories" class="text-primary"></div>
		</div>
	</section>
{% endif %}
{% endblock %}

{% block experiences %}
{%if experience %}
	<section id="experiences">
		<h3 class="pb-1 mb-2 mt-2 font-weight-bold border-bottom">
			<div class="clearfix">
				<h3 class="float-left">Top Rated Experiences</h3>
				<a role="button" href="{{ url_for('main.experience') }}" class="btn btn-link float-right text-primary">see all <i class="fa fa-angle-right"></i></a>
			</div>
		</h3>

		<div class="py-3">
			<div class="row equal">
				{% for experience in experience %}

				<div class="col-md-6 col-lg-3 pt-0 pb-0 mb-1 mt-1">
					<a class="link-reset" href="{{ url_for('main.detail', id=experience.experience_id)}}">
						<div class="card mb-1 mt-1 border-0 h-100">
							<div class="tubayo-experience-img tubayo-experiencemobile-img w-100 ">
								<!-- <i class="fas fa-heart topright"></i> -->
								<img class="card-img-top rounded img-fluid h-100" src="{{ url_for('main.uploaded_experience', filename=experience.image.filename) }}" alt="Card image cap">
							</div>
							<div class="card-body px-0 py-1">
								<p class="mb-1 card-text text-uppercase text-small">{{ experience.experience.experience_title }} · <span>{{experience.experience.place}}</span></p>
								<p class="mb-1 text-bold-md">{{ experience.experience.tag }}</p>
								<p class="mb-0 text-small-faint">USD {{ experience.experience.price }} per person</p>

								<div class="mb-0 mt-0 d-flex justify-content-between align-items-center">
									<span class="rateYo pl-0"><input type="hidden" value="{{ experience.experience.Weighted_Average }}" name="rateyoid" class="rateyoid"></span>
									<span class="review float-left" aria-label="{{ experience.experience.reviews_no }} reviews">
										<span class="reviews">{{ experience.experience.reviews_no }}</span>
									</span>
								</div>

							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
			<a role="button" href="{{ url_for('main.experience')}}" class="btn btn-link float-right text-primary">see all experiences <i class="fa fa-angle-right"></i></a>
		</div>
	</section>
{% endif %}
{% endblock %}
{% block shop %}
{%if shop %}
	<section id="shop">
		<h3 class="pb-1 mb-2 font-weight-bold border-bottom">
			<div class="clearfix">
				<h3 class="float-left">Top destinations </h3>
				
			</div>
		</h3>
		<div class="py-2">
			<div class="row equal">
				<div id="tubayoCarousel" class="carousel slide w-100" data-ride="carousel">
					<div class="carousel-inner tubayo-carousel-inner w-100" role="listbox">
						{% for experience in experience %}
						<div class="carousel-item {% if loop.index == 1 %} active{% endif %}">
							<div class="card d-block col-3 w-100 border-0">
								<div class="tubayo-shop-slide h-auto w-100">
									<img class="card-img-top rounded img-fluid h-100" src="{{ url_for('main.uploaded_experience', filename=experience.image.filename) }}" alt="Card image cap">
								</div>
								<a class="link-reset" href="{{ url_for('main.shop', place = experience.experience.place) }}">
									<div class="card-body px-0 py-1 text-center">
										<p class="mb-1 text-bold-md">{{ experience.experience.place }}</p>
										<!--<p class="mb-0 text-small-faint">USD {{ experience.experience.price }} per person</p>-->
									</div>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#tubayoCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#tubayoCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<!--<a role="button" href="{{ url_for('main.experience')}}" class="btn btn-link float-right text-primary">see all <i class="fa fa-angle-right"></i></a> -->
		</div>
	</section>
{% endif %}
{% endblock %}

{% block flyer %}
	{%if flyer %}
		<section id="flyer" class="pt-5 {% if not flyers%} d-none {% endif %}">
			<div class="row equal">
				{% for flyer in flyers %}
				
				<div class="col-sm-10 col-md-6 pb-3">
					<div class="card h-auto w-100">
						
						<img class="card-img tubayo-flyer-img w-100" src="{{ url_for('main.uploaded_flyer', filename=flyer.filename) }}" alt="Card image">
					</div>
				</div></div></a>
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endblock %}

{% block tubayotrend %}
	{% if trend %}
		<section id="tubayo-trend">
			<h3 class="pb-1 mb-2 mt-2 font-weight-bold border-bottom">
				<div class="clearfix">
					<h3 class="float-left">Recommended Experiences</h3>
				</div>
			</h3>

			<div class="py-2">
				<div class="row equal">
					{% for experience in trend %}

					<div class="col-md-6 col-lg-3 pt-0 pb-0 mb-1 mt-1">
						<a class="link-reset" href="{{ url_for('main.detail', id=experience.experience_id)}}">
							<div class="card mb-1 mt-1 border-0 h-100">
								<div class="tubayo-experience-img tubayo-experiencemobile-img w-100 ">
									<i class="fas fa-heart topright"></i>
									<img class="card-img-top rounded img-fluid h-100" src="{{ url_for('main.uploaded_experience', filename=experience.image.filename) }}" alt="Card image cap">
								</div>
								<div class="card-body px-0 py-1">
									<p class="mb-1 card-text text-uppercase text-small">{{ experience.experience.experience_title }} · <span>{{experience.experience.place}}</span></p>
									<p class="mb-1 text-bold-md">{{ experience.experience.tag }}</p>
									<p class="mb-0 text-small-faint">USD {{ experience.experience.price }} per person</p>

									<div class="mb-0 mt-0 d-flex justify-content-between align-items-center">
										<span class="rateYo pl-0"><input type="hidden" value="{{ experience.experience.Weighted_Average }}" name="rateyoid" class="rateyoid"></span>
										<span class="review float-left" aria-label="{{ experience.experience.reviews_no }} reviews">
											<span class="reviews">{{ experience.experience.reviews_no }}</span>
										</span>
									</div>

								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<aside class="col-md-3 pt-3 d-none d-sm-none d-md-block">
			{% for advert in adverts %}
			<a href="{{ url_for('main.become_a_host')}}">
			<div class="mb-3 h-auto w-100">
				<img class="w-100 h-auto rounded d-block" src="{{ url_for('main.uploaded_advert', filename=advert.filename) }}" alt="">
			</div></a>
			{% endfor %}
	</aside>
{% endblock %}

{% block script %}

	<script src="zuck.js"></script>
	<script>

	   function buildItem(id, type, length, src, preview, link, linkText, seen, time){
	       return {
	                   "id": id,
	                   "type": type,
	                   "length": length,
	                   "src": src,
	                   "preview": preview,
	                   "link": link,
	                   "linkText": linkText,
	                   "seen": seen,
						"time": time
	               };
	   }

		function initDemo(stories_object){
			var header = document.getElementById("header");
			var skin = location.href.split('skin=')[1];
			
			if(!skin) {
				skin = 'Snapgram';
			} 

			if(skin.indexOf('#')!==-1){
			   skin = skin.split('#')[0];
			}

			var skins = {
				'Snapgram': {
					'avatars': true,
					'list': false,
					'autoFullScreen': false,
	                'cubeEffect': true
				},

				'VemDeZAP': {
					'avatars': false,
					'list': true,
					'autoFullScreen': false,
	                'cubeEffect': false
				},

				'FaceSnap': {
					'avatars': true,
					'list': false,
					'autoFullScreen': true,
	                'cubeEffect': false
				},

				'Snapssenger': {
					'avatars': false,
					'list': false,
					'autoFullScreen': false,
	                'cubeEffect': false
				}
			};
			
			var timeIndex = 0;
			var shifts = [35, 60, 60*3, 60*60*2, 60*60*25, 60*60*24*4, 60*60*24*10];
			var timestamp = function() {
			    var now = new Date();
			    var shift = shifts[timeIndex++] || 0;
			    var date = new Date( now - shift*1000);

			    return date.getTime() / 1000;
			};

			var n;
			var _stories = [];
			for (n = 0; n < stories_object.length; n++) {
				var _story =  {
								id: stories_object[n].name,
								photo: stories_object[n].link,
								name: stories_object[n].name,
								link: "",
								lastUpdated: timestamp(),
								items: [
									buildItem("item-" + n, "photo", 3, stories_object[n].link, "", '', false, false, timestamp())
									]
				};
				_stories.push(_story);
			};

			var stories = new Zuck('stories', {
				backNative: true,
	            previousTap: true,
				autoFullScreen: skins[skin]['autoFullScreen'],
				skin: skin,
				avatars: skins[skin]['avatars'],
				list: skins[skin]['list'],
	            cubeEffect: skins[skin]['cubeEffect'],
				localStorage: true,
				stories: _stories
			});
	       
	       var el = document.querySelectorAll('#skin option');
	       var total = el.length;
	       for (var i = 0; i < total; i++) {
				var what = (skin==el[i].value)?true:false;
	           
				if(what){
					el[i].setAttribute('selected', what);

					header.innerHTML = skin;
					header.className = skin;
				} else {
					el[i].removeAttribute('selected');
				}
	       }

			document.body.style.display = 'block';
		};

		get_stories();

		function get_stories(){
			$.ajax({
				url: '/api/v1/stories',
				type: 'GET',
				data: {
				},
				datatype: 'json',
				contentType: "application/json; charset=utf-8",
				success: function(data_result){
					//console.log(data_result);
					initDemo(data_result.stories);
				},
				error:function(data){
				}
			});
		}
	</script>
	<script>

		
		// corousel

	$('#tubayoCarousel').carousel({
	  interval: 10000
	})

	$('.carousel .carousel-item').each(function(){
	    var next = $(this).next();
	    if (!next.length) {
	    next = $(this).siblings(':first');
	    }
	    next.children(':first-child').clone().appendTo($(this));
	    
	    for (var i=0;i<2;i++) {
	        next=next.next();
	        if (!next.length) {
	        	next = $(this).siblings(':first');
	      	}
	        
	        next.children(':first-child').clone().appendTo($(this));
	      }
	});
	</script>
{% endblock %}