{% extends 'base.html' %}
{% from 'macros.html' import render_form %}

{% block content %}
<main>
	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-7 m-auto pt-5">
				<div class="clearfix mx-auto">
					<div class="float-left m-xl-auto">
						<span class="rateYo pl-0"><input type="hidden" value="{{rate}}" name="rateyoid" class="rateyoid"></span>
						<span>{{rate}}</span>
						<span class="counter"></span>
					</div>
					<div class="float-right">
							<a role='button'  class="btn btn-primary" href="{{ url_for('main.review', exp_id=exp_id)}}">
						  Rate Experience
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-7 m-auto">
					<h2 class="text-center">Users reviews</h2>
					{% for comment in comments %}
					<div class="card mt-2">
					    <div class="card-body">
					        <div class="row">
				        	    <div class="col-md-2">
				        	        <div class="row">
				        	        	<div class="col-md-12 m-auto text-center">
				        	        		<img class="avatar" src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
				        	        	</div>
				        	        	<div class="col-md-12 m-auto text-center">
				        	        		<p class="text-secondary text-center text-small">{{ moment(comment.created_on).fromNow() }}</p>
				        	        	</div>
				        	        </div>
				        	    </div>
				        	    <div class="col-md-10">
				        	        <p>
				        	            <span class="float-left text-primary text-capitalize">
				        	            	{{comment.comments.username}} 
				        	        	</span>
				        	            <span class="review-block-date pl-1">{{ moment(comment.created_on).format('LL') }}</span>
				                        <span class="rateYo float-right"><input type="hidden" value="{{comment.exp_comments.Weighted_Average}}" name="rateyoid" class="rateyoid"></span>

				        	       </p>
				        	       <div class="clearfix"></div>
				        	        <p>{{ comment.comment}}</p>
				        	        
				        	    </div>
					        </div>
					    </div>
					</div>
					{% endfor %}

				<div class="your-form">
				{{ render_form(form, action_url=url_for('main.comment', exp_id=exp_id), action_text='Add') }}
				</div>
			</div>
		</div>		
	</div>
</main>
{% endblock %}
{% block script %}
<script>
			//Make sure that the dom is ready
			$(function () {

				$("input.rateyoid").each(function () {
					var current_rating = $(this).val();
					var id = '{{ exp_id }}';
					var exist = '{{ exist }}'.toLowerCase();
					// console.log(exist)
					if (exist == 'true') {
						readOnly = true
					}
					else{
						readOnly = false
					};
					$(this).parent().rateYo({
						starWidth: "12px",
						fullStar: true,
						spacing: "2px",
						ratedFill: "#1B5E20",
						readOnly: readOnly,
						rating: current_rating

					}).on("rateyo.set", function (e, data) {
						$.ajax({
							type: "POST",
							url: "{{ url_for('main.rating')}}",
							contentType: "application/json; charset=utf-8",
							data: JSON.stringify({ rating: data.rating, exp_id: id}),
							success: function (response) {
								console.log(response)
							}

						});
					})
					.on("rateyo.change", function (e, data) {
						var rating = data.rating;
						$(this).next().text(rating);
					});;
				});
				$(".rateYo").rateYo();

			});

			
		</script>

		{% endblock %}