{% extends "base.html" %}
{% set active_page = "experience" %}

{% block content %}
<main>
    <div class="container-fluid m-auto">
        <h1>{{ 'Search Results'}}</h1>
        <div class="py-4">
            <div class="row equal">
            {% for exp in experience %}
                {% for experience in imageexp %}
                    {% if experience.experience_id == exp.id %}
                      {% include 'main/_experience.html' %}  
                    {% endif %}
                {% endfor %}
                
            {% endfor %}
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not prev_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">
                        <span aria-hidden="true">&larr;</span>
                        {{ 'Previous results' }}
                    </a>
                </li>
                <li class="page-item {% if not next_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ next_url or '#' }}">
                        {{ 'Next results' }}
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>
{% endblock %}