{% from 'paginate.html' import render_pagination %}
{% extends 'base.html' %}
{% set active_page = "shop" %}
{% block content %}

<main role="main" class="container-fluid bg-white">
	<section id="experiences">
		<h3 class="pb-1 mb-2 pt-3 font-weight-bold border-bottom">
			<div class="clearfix">
				<h3 class="float-left">Tubayo-shop</h3>
			</div>
		</h3>

		<div class="py-4">
			<div class="row equal">
				{% for item in shop.items %}
				
						<div class="col-md-4 col-lg-2 pt-0 pb-0 mb-1 mt-1">
							<div class="card d-block w-100 border-0">
								<a href="{{ url_for('main.experience') }}">
								<div class="tubayo-shop-slide h-auto w-100" >
									<img class="card-img-top rounded img-fluid h-auto w-100" src="{{ url_for('main.uploaded_item', filename=item.filename) }}" alt="{{ item.filename }}">
								</div>
								</a>
								<a role='button' class="link-reset" href="{{ url_for('main.experience')}}" data-toggle="modal" data-target="#exampleModalCenter {{ url_for('main.shop', id=item.id)}}">
									<div class="card-body px-0 py-1 text-center">
										<p class="mb-1 text-bold-md">{{ item.item_name}}</p>
										<p class="mb-0 text-small-faint">${{item.price}}</p>
									</div>
								</a>
							</div>
						</div>
				
				{% endfor %}
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		       	<div class="media">
		       	  <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
		       	  <div class="media-body">
		       	    <h5 class="mt-0">{{ item.name }}</h5>
		       	    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		       	  </div>
		       	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Add to Cart</button>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	{% if shop.pages >1 %}
	{{ render_pagination( shop, 'main.shop') }}
	{% endif %}
</main><!-- /.container -->

{% endblock %}