{% extends 'base.html' %}
{% set active_page = "cart" %}

{% block content%}
<main>
	<div class="container">
		<div class="card shopping-cart mt-5">
			<div class="card-header bg-dark text-light">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				Booking cart
				<a href=" {{ url_for('main.experience')}} " class="btn btn-outline-info btn-sm pull-right">Continue Booking</a>
				<div class="clearfix"></div>
			</div>
			<form action="" method="POST">
				<div class="card-body">
					<!-- PRODUCT -->
					{% for item in item %}
					<div class="row">
						<div class="col-12 col-sm-12 col-md-2 text-center">
							<img class="img-responsive img-fluid" src="{{ url_for('main.uploaded_experience', filename=item.filename) }}" alt="prewiew" height="80">
						</div>
						<div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
							<h4 class="product-name"><strong>{{ item.item_name }}</strong>
							<br>
							<span class="text-small">{{ moment(item.date).format('LL') }}</span>
							</h4>
							<h4>
								<small>{{ item.description }}</small>
							</h4>
						</div>
						<div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
							<div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
								<h4 class="text-small">price</h4>
								<h6><strong>{{ item.price }}<span class="text-muted">x</span></strong></h6>
							</div>
							<div class="col-4 col-sm-4 col-md-4">
								<h4 class="text-small">Number of people</h4>
								<div class="quantity">
								  <input name="quantity{{ loop.index }}" type="number" min="1" max="99" step="1" value="{{ item.quantity }}" inputmode="numeric" title="Number of people" size="4">
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 text-right">
								<a href='{{ url_for('main.remove_item', cartitem_id=item.id) }}' role="button" aria-pressed="true" class="btn btn-outline-danger btn-lg">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
					<hr class="w-100">
					{% endfor %}
					<!-- END PRODUCT -->
					<div class="float-right my-2">
						<button class="btn btn-outline-primary float-right">
							Update shopping cart
						</button>
					</div>
				</div>
			</form>
			<div class="card-footer">
				<div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
					<div class="row">
						<div class="col-6">
							<input type="text" class="form-control" placeholder="coupon code">
						</div>
						<div class="col-6">
							<input type="submit" class="btn btn-default" value="Use coupon">
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin: 10px">
					<a role="button" href="https://payments.pesapal.com/tubayo" target="_blank" class="btn btn-success pull-right">Checkout</a>
					<div class="pull-right" style="margin: 5px">
						Total price: <b>${{ total2[0][0] }}</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block script %}
	<script>
		jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
		jQuery('.quantity').each(function() {
		  var spinner = jQuery(this),
		    input = spinner.find('input[type="number"]'),
		    btnUp = spinner.find('.quantity-up'),
		    btnDown = spinner.find('.quantity-down'),
		    min = input.attr('min'),
		    max = input.attr('max');

		  btnUp.click(function() {
		    var oldValue = parseFloat(input.val());
		    if (oldValue >= max) {
		      var newVal = oldValue;
		    } else {
		      var newVal = oldValue + 1;
		    }
		    spinner.find("input").val(newVal);
		    spinner.find("input").trigger("change");
		  });

		  btnDown.click(function() {
		    var oldValue = parseFloat(input.val());
		    if (oldValue <= min) {
		      var newVal = oldValue;
		    } else {
		      var newVal = oldValue - 1;
		    }
		    spinner.find("input").val(newVal);
		    spinner.find("input").trigger("change");
		  });

		});
	</script>
{% endblock %}