{% extends 'base.html' %}
{% set active_page = "help" %}

{% block content %}
    <main>
    	<div class=" main mt-5 bg-light h-75">
    	  <div class="text-center">
    	    <h1>COMING SOON</h1>
    	    <hr>
    	    <p>sorry</p>
    	  </div>
    	</div>
    </main>
{% endblock %}