<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/Tubayo-travel--logo.ico') }}" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->

	<!-- custom css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/tubayo.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap-setup/tubayo.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- awsome-fonts -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<!-- <link href="{{ url_for('static', filename='assets/css/offcanvas.css') }}" rel="stylesheet"> -->
	<!-- zuck css -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor/zuck.js-master/zuck.css') }}"> -->
	<link href="Https://cdn.bootcss.com/zuck.js/1.1.0/skins/snapgram.min.css" rel="stylesheet">
	<link href="Https://cdn.bootcss.com/zuck.js/1.1.0/zuck.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor/zuck.js-master/skins/snapgram.min.css') }}"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/rate-Yo/jquery.rateyo.css') }}">
	<link href="{{ url_for('static', filename='assets/node_modules/js-offcanvas/dist/_css/js-offcanvas.css') }}" rel="stylesheet">
	
	<!-- icons -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.min.css') }}"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap-material-design-icons/css/material-icons.min.css') }}">

	<style>
		.symbol {
			display: inline-block;
			border-radius: 50%;
			border: 5px double white;
			width: 30px;
			height: 30px;
		}

		.symbol-empty {
			background-color: #ccc;
		}

		.symbol-filled {
			background-color: black;
		}
	</style>
	<style>
		body {
			overflow-x: hidden;
		}
		.offcanvas-nav .form-inline { display: none}
		.is-hidden {  visibility: hidden;}
	</style>
	<style>
		.l-wrapper {
		  max-width:100%;
		  margin:auto;
		  position:relative;
		  overflow:hidden
		}
		.c-offcanvas-content-wrap {
		  transform: none;
		}


		@media only screen 
		and (min-device-width : 320px) 
		and (max-device-width : 480px) {
		    .main{
		    	margin-top: 120px;
		    }
		    h3{
				font-size: 1.2rem;
				font-weight: bold;
		    }
		}

		



		/* Desktops and laptops ----------- */
		@media only screen 
		and (min-width : 1224px) {
		    	.main{
		        padding-top: 56px;
		    }
		    .login{
		    	padding-top: 3rem;
		    	padding-bottom: 2rem;
		    }
		}

		/* Large screens ----------- */
		@media only screen 
		and (min-width : 1824px) {
		    	.main{
		        padding-top: 56px;
		    }
		    .login{
		    	padding-top: 3rem;
		    	padding-bottom: 2rem;
		    }
		}

		.border-top { border-top: 1px solid #e5e5e5; }
		.border-bottom { border-bottom: 1px solid #e5e5e5; }
		.border-top-gray { border-top-color: #adb5bd; }

		.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

		.lh-condensed { line-height: 1.25; }
		.count{
			padding: 0.25em 0.1em !important;
			line-height: 0;
		}
		/*.stories.snapgram .story.seen>a {
		     color: #1B5E20!important; 
		}*/
		.stories.carousel .story > a > .info {
		    /*white-space: initial;*/
		    color: #1B5E20!important; 
		}

		.footer2 {
		            position: absolute;
		            bottom: 0;
		            width: 100%;
		            height: auto;
		            line-height: inherit;
		            background-color: #f5f5f5;
		        }
	</style>

<title>Tubayo</title>
</head>
<body translate="no">
	{% set navigation_bar = [
		('/', 'index', 'Home'),
		('/experience/', 'experience', 'Experiences'),
		
		('/becomeahost/', 'host', 'Become a Host'),
		('/help/', 'help', 'Help'),
		('/auth/login/', 'login', 'Login'),
		('/auth/register/', 'signup', 'Signup'),
		('/cart/', 'cart', 'Cart'),
		('/auth/logout/', 'logout', 'Logout')
		] -%}
	{% set active_page = active_page|default('index') -%}
	
	<div class="l-wrapper mb-5">
	  <div class="c-offcanvas-content-wrap" role="main">

	  	<nav class="navbar fixed-top  navbar-expand-md navbar-light bg-light">
	  		<a class="navbar-brand" href="/">
	  			<img src="{{url_for('static', filename='assets/img/Tubayo-travel--logo.png')}}" width="30" height="30" class="d-inline-block align-top text-capitalize" alt="">
				<span class="font-weight-bold">Tubayo</span>.com
				<!-- <p ><small><i>Discover a wonderful world</i></small></p>   -->
	  		</a>
	  		<button class="navbar-toggler js-offcanvas-toggler" data-button-options='{"wrapText":false}' aria-label="Toggle navigation">
	  			<span class="navbar-toggler-icon"></span>
	  		</button>

	  		<div class="collapse navbar-collapse" id="navbarsExampleDefault" data-set="bs">
	  			<!--{% if g.search_form %}	-->
	  			<form action="{{ url_for('main.search') }}" method="get" class=" my-2 my-lg-0 m-auto" style="width: 35%;">
	  				<div class="input-group">
	  					{{ g.search_form.q(class='form-control',
	  					placeholder="Search, discover, explore...") }}
	  					<div class="input-group-append">
								
	  						<button class="btn btn-outline-primary" type="submit">
	  							<i class="mdi mdi-search mdi-lg m-auto pt-1"></i>
	  						</button>
	  					</div>
	  				</div>
	  			</form>
	  			<!-- {% endif %} -->
	  			<ul class="navbar-nav ml-auto js-append-around">
	  				{% for href, id, caption in navigation_bar %}
	  					{% if current_user.is_anonymous %}
	  						{% if id in ['index', 'experience', 'shop', 'host', 'help', 'login', 'signup'] %}
	  						<li class="nav-item {% if id == active_page %} active {% endif %}">
	  							<a class="nav-link" href="{{ href|e }}">{{ caption|e }} <span class="sr-only">(current)</span></a>
	  						</li>
	  						{% endif %}
	  					{% else %}
	  						{% if id in ['index', 'experience', 'shop', 'host', 'help', 'cart', 'logout'] %}
	  							{% if id == 'logout'%}
	  							<li class="nav-item dropdown {% if id == active_page %} active {% endif
	  							%}">
	  								<a href="#" class="img" data-toggle="dropdown">
	  									{% if current_user.avator %}
	  										<img src="{{ current_user.avator }}" class="rounded-circle avatar-account">
	  									{% else%}
											<i class="mdi mdi-account-circle mdi-2x"></i>
											<!-- rounded-circle avatar -->
	  									{%endif%}
	  									
	  									
	  								</a>
	  								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
	  									<a class="dropdown-item" href="#"><i class="fa fa-cog "></i> Account</a>
	  									<a class="dropdown-item" href="#">Another action</a>
	  									<a class="dropdown-item" href="{{ href|e }}"><i class="fa fa-sign-out "></i> {{ caption|e }}</a>
	  								</div>
	  							</li>
	  							{% elif id == 'cart' %}
								
	  							{%else%}
	  							<li class="nav-item {% if id == active_page %} active {% endif %}">
	  								<a class="nav-link" href="{{ href|e }}">{{ caption|e }} <span class="sr-only">(current)</span></a>
	  							</li>
	  							{% endif %}
	  						{% endif %}
	  					{% endif %}
	  				{% endfor %}
	  			</ul>
	  		</div>
	  		<div class="row d-block d-sm-block d-md-none d-lg-none d-xl-none m-auto w-100">
	  			<div class="col-sm-12 pl-0 pr-0">
	  				{% if g.search_form %}	
	  				<form action="{{ url_for('main.search') }}" method="get" class=" my-2 my-lg-0 m-auto w-100">
	  					<div class="input-group mt-3">
	  						{{ g.search_form.q(class='form-control',
	  						placeholder="Search, discover, explore...") }}
	  						<div class="input-group-append">
	  							<button class="btn btn-outline-primary" type="submit"><i class="mdi mdi-search mdi-lg m-auto pt-1"></i></button>
	  						</div>
	  					</div>
	  				</form>
	  				{% endif %}
	  			</div>
	  		</div>
	  	</nav>

	    <div class="main">
	    	{% with messages = get_flashed_messages(with_categories=true) %}
	    		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
	    		{% if messages %}
	    			{% for category, message in messages %}
	    				<div class="pt-2">
	    					<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
	    						{{ message }}
	    						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    							<span aria-hidden="true">&times;</span>
	    						</button>
	    					</div>
	    				</div>
	    			{% endfor %}
	    		{% endif %}
	    	{% endwith %}

	    	{% block content %}{% endblock %}
	    </div>
	    
	    <!-- <footer class="blog-footer">
	          <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
	          <p>
	            <a href="#">Back to top</a>
	          </p>
	        </footer> -->
	  </div>
		{% block outcontent %}{% endblock %}
	  <!--Offcanvas Panels-->
	  <aside class="c-offcanvas is-hidden is-scrollable" id="left" role="complementary">
	  	<div class="navbar">
	  		<i class="mdi mdi-close mdi-3x js-offcanvas-close" style="margin-left: 200px;"></i>
	  		<!-- container for appendAround -->
	  		<div class="offcanvas-nav d-block d-md-none" data-set="bs"></div>
	  	</div>
	  </aside>

	</div>
	<footer class="footer2 text-muted text-center text-small bg-inverse fixed-bottom">
		<span class="mb-1">&copy; 2017-2018 Tubayo</span>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#">Privacy</a></li>
			<li class="list-inline-item"><a href="{{ url_for('main.contact') }}">Contact us</a></li>
			<li class="list-inline-item"><a href="#">Terms</a></li>
			<li class="list-inline-item"><a href="#">Support</a></li>
		</ul>
	</footer>
	
	<!-- Optional JavaScript -->
	<!-- <script src="{{ url_for('static', filename='assets/js/jquery-3.1.0.min.js') }}"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/holder.min.js') }}"></script>
	<!-- <script src="{{ url_for('static', filename='assets/js/offcanvas.js') }}"></script> -->
	<script src="{{ url_for('static', filename='assets/js/bootstrap-rating.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/vendor/zuck.js-master/zuck.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/rate-Yo/jquery.rateyo.min.js') }}"></script>
	<script src="{{url_for('static', filename='assets/node_modules/js-offcanvas/vendor/modernizr.js')}}"></script>

	<script src="{{url_for('static', filename='assets/node_modules/js-offcanvas/dist/_js/js-offcanvas.pkgd.min.js')}}"></script>
	{% block script %}{% endblock %}

    
    {{ moment.include_moment() }}
	<script>
    	//Thanks to http://rateyo.fundoocode.ninja/
    	$(function () {

    		$("input.rateyoid").each(function () {
    			var current_rating = $(this).val();
    			$(this).parent().rateYo({
    				starWidth: "12px",
    				rating: 3.6,
    				halfStar: true,
    				spacing: "2px",
    				readOnly: true,
    				ratedFill: "#1B5E20",
    				rating: current_rating

    			});
    		});
    		$(".rateYo").rateYo();

    	});
    </script>
    <script>
    	// https://github.com/filamentgroup/AppendAround
    	/*! appendAround markup pattern. [c]2012, @scottjehl, Filament Group, Inc. MIT/GPL
    	 how-to:
    	 1. Insert potential element containers throughout the DOM
    	 2. give each container a data-set attribute with a value that matches all other containers' values
    	 3. Place your appendAround content in one of the potential containers
    	 4. Call appendAround() on that element when the DOM is ready
    	 */
    	(function( $ ){
    		$.fn.appendAround = function(){
    			return this.each(function(){

    				var $self = $( this ),
    						att = "data-set",
    						$parent = $self.parent(),
    						parent = $parent[ 0 ],
    						attval = $parent.attr( att ),
    						$set = $( "["+ att +"='" + attval + "']" );

    				function isHidden( elem ){
    					return $(elem).css( "display" ) === "none";
    				}

    				function appendToVisibleContainer(){
    					if( isHidden( parent ) ){
    						var found = 0;
    						$set.each(function(){
    							if( !isHidden( this ) && !found ){
    								$self.appendTo( this );
    								found++;
    								parent = this;
    							}
    						});
    					}
    				}

    				appendToVisibleContainer();

    				$(window).bind( "resize", appendToVisibleContainer );

    			});
    		};
    	}( jQuery ));
    </script>
    <script>
    	//A lightweight, flexible jQuery off-canvas navigation plugin which lets you create fully accessible sidebar or top/bottom sliding (or push) panels with keyboard interactions and ARIA attributes. http://offcanvas.vasilis.co
    	$( function(){
    		$( document ).trigger( "enhance" );

    		$( '#left' ).offcanvas( {
    			modifiers: "left,overlay",
    			triggerButton: '.js-offcanvas-toggler',
    			role: "dialog",
			    baseClass: "c-offcanvas",
			    modalClass: "c-offcanvas-bg",
			    contentClass: "c-offcanvas-content-wrap",
			    closeButtonClass: "js-offcanvas-close",
			    bodyModifierClass: "has-offcanvas",
			    supportNoTransitionsClass: "support-no-transitions",
			    resize: false,
			    modal: true,
    			onInit :  function() {
    				$(this).removeClass('is-hidden');
    			}
    		} );
    		$( ".js-append-around" ).appendAround();
    	});

    	$('#myModal').on('shown.bs.modal', function () {
    	  $('#myInput').trigger('focus')
    	})
    </script>	
</body>
</html>