// Your variable overrides

$gray-800: #1B5E20 !default;
$blue:    #1B5E20 !default;

//navbar

.navbar-nav {
  .nav-link {
    font-size: 15px;
  }
}

sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    width: 200px !important;
}

.carousel {
 	.carousel-item {
		  background: no-repeat center center scroll;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
	
	
	.carousel-height {
			height: 35vh;
			min-height: 295px;
		}

	.carousel-detail-height {
			height: 40vh;
			min-height: 420px;
			width: 100% !important;
			background-size: cover !important;
			background-position: center top !important;
			top: 0px !important;
			bottom: 0px !important;
			left: 0px !important;
			right: 0px !important;
		}

	.carousel-mobile-height {
			height: 20vh;
			min-height: 160px;
		}

	.tubayo-carousel-inner .carousel-item.active,
	.tubayo-carousel-inner .carousel-item-next,
	.tubayo-carousel-inner .carousel-item-prev {
	  display: flex;
	}

	.tubayo-carousel-inner .carousel-item-right.active,
	.tubayo-carousel-inner .carousel-item-next {
	  transform: translateX(25%);
	}

	.tubayo-carousel-inner .carousel-item-left.active, 
	.tubayo-carousel-inner .carousel-item-prev {
	  transform: translateX(-25%);
	}
	  
	.tubayo-carousel-inner .carousel-item-right,
	.tubayo-carousel-inner .carousel-item-left{ 
	  transform: translateX(0);
	  
	}
}

.tubayo-shop-slide{
	height: 105px;
    width: 205px;
	position: relative;
    overflow: hidden; 
}

@media (min-width: 768px) { 
	.tubayo-experience-img{
		height: 250px !important;
	    width: 100%;
		position: relative;
	    overflow: hidden; 
	}
 }

 @media (max-width: 576px) { 
 	.tubayo-experiencemobile-img{
 		height: 100% !important; 
 	}
 }


.tubayo-flyer-img{
	height: 180px;
    width: 100%;
    position: relative;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.topright {
    position: absolute;
    top: 17px;
    right: 27px;
    font-size: 18px;
}


.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  100: 100%,
  exp: 250px,
  auto: auto
), $sizes);

.text-bold-md{
	word-wrap: break-word !important;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: 0.2px !important;
	color: #484848 !important;
	font-weight: 700 !important;
}
.text-small{
	word-wrap: break-word !important;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
	font-size: 12px !important;
	line-height: 16px !important;
	letter-spacing: 0.2px !important;
	font-weight: 700 !important;
}
.text-date {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    font-weight: 300 !important;
}
.text-time{

    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    font-weight: 300 !important;
	
}
.text-small-faint{
	font-weight: 300 !important;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: 0.2px !important;
	color: #484848 !important;
}
.stars{
	vertical-align: middle !important;
	line-height: 21px !important;
	margin-right: 2px !important;
}
.star{
	display: inline-block !important;
	color: #008489 !important;
	font-size: 9px !important;
	height: 10px !important;
	width: 9px !important;
}
.review{
	line-height: 21px !important;
}
.reviews{
	font-weight: normal !important;
	word-wrap: break-word !important;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
	font-size: 12px !important;
	line-height: 16px !important;
	letter-spacing: 0.2px !important;
	color: #484848 !important;
	display: inline !important;
	padding-right: 20rem;
}
.link-reset{
	color: inherit !important;
	text-decoration: none !important;
}

// side bar
.block {
	    padding-top: 0px !important;
	}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

@media (min-width: 768px){
	.block{
		margin-left: auto !important;
	    width: 90% !important;
	}

	.tubayo-content{
		position: relative !important;
		padding-top: 40px !important;
	}

	.sticky {
	  position: fixed;
	  top: 0px;
	  width: 100%;
	}
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar-account {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

 

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998 !important;
  color: white !important;
}

.twitter {
  background-color: #55ACEE !important;
  color: white !important;
}

.google {
  background-color: #dd4b39 !important;
  color: white !important;
}
/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

@media screen and (max-width: 650px) {
  /* hide the vertical line */
  .vl {
    display: none;
  }
}


//shopping cart

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 60px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

//footer

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
