{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% set active_page = "login" %}
{% block content %}

<div class="container">
      <h2 class="text-center login">Login with Social Media or Manually</h2>
      <div class="vl">
        <span class="vl-innertext rounded-circler">or</span>
      </div>
      <div class="row justify-content-center">
           <div class="col-xs-6 col-md-6 col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1 container">
                  <div class="d-flex flex-column bd-highlight mb-3 m-auto">
                        <!-- commenting out the facebook login because the api has token issues-->
                    <!--
                          <div class="p-2 bd-highlight m-auto">
                          <a href="{{ url_for('facebook.login') }}" class="btn fb link-reset">
                                <i class="fab fa-facebook-f fa-w"></i> Login with Facebook
                          </a>
                    </div>
                  -->
                    <!-- <div class="p-2 bd-highlight m-auto">
                          <a href="#" class="twitter btn link-reset">
                                <i class="fab fa-twitter fa-fw"></i> Login with Twitter
                          </a>
                    </div> -->
                    <div class="p-2 bd-highlight m-auto">
                          <a href="{{ url_for('google.login') }}" class="google btn link-reset">
                                <i class="fab fa-google-plus-g"></i> Login with Google+
                          </a>
                    </div>
                  </div>
           </div>
           <div class="col-xs-6 col-md-6 col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1">
                <div class="container ml-0">
                      <div class="">
                            <p>Or sign in manually:</p>
                      </div>

                      {% call macros.render_form(form, action_url=url_for('auth.login'), action_text='Login',
                      class_='') %}
                      {{ macros.render_field(form.email, label_visible=false, placeholder='Email', type='email') }}
                      {{ macros.render_field(form.password, label_visible=false, placeholder='Password', type='password') }}
                      <div class="clearfix">
                        <div class="float-left">{{ macros.render_checkbox_field(form.remember_me) }}</div>
                        <a href="{{ url_for('auth.register')}}" class="float-right"><b>SignUp as a New User</b></a>
                      </div>
                      <p>
                          Forgot Your Password?
                          <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
                      </p>
                      {% endcall %}
                </div> 
           </div> 
      </div>
</div>       
 <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2466870513539540',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.2'
        });
          
        FB.AppEvents.logPageView();

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });           
      };
    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      
      function checkLoginState() {
      FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      });
      }

      function statusChangeCallback(response) {
            console.log(response)
            if (response.status == 'connected') {

            } else {
                  console.log('response')
            }
      }
</script>

{% endblock content %}