{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% set active_page = "signup" %}
{% block content %}
<div class="row">
      <div class="col-xs-12 col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4 m-auto pt-5">
      <h3 class="text-center  pb-2">
           Create Account
      </h3>
            {% call macros.render_form(form, action_url=url_for('auth.register'), action_text='Create Your Tubayo Account',
            class_='') %}
            {{ macros.render_field(form.username, label_visible=false, placeholder='Username', type='text') }}
            {{ macros.render_field(form.email, label_visible=false, placeholder='Email', type='email') }}
            {{ macros.render_field(form.phone, label_visible=false, placeholder='Phone number', type='text') }}
            {{ macros.render_field(form.password, label_visible=false, placeholder='Password', type='password') }}
            {{ macros.render_field(form.password2, label_visible=false, placeholder='Re-enter Password', type='password') }}
            {% endcall %}
      </div>
</div>

{% endblock content %}
