{% macro render_pagination(pagination, endpoint) %}
	<nav aria-label="Page navigation tubayo">
		<ul class="pagination justify-content-end">
			{% if pagination.has_prev %}
				<li class="page-item"><a class="page-link" href="{{ url_for( endpoint, page=pagination.prev_num)}}">Previous</a></li>
			{% else %}
				<li class="page-item disabled">
				      <a class="page-link" href="#" tabindex="-1">Previous</a>
				    </li>
			{% endif%}
			{%- for page in pagination.iter_pages() %}
				{% if page %}
					{% if page != pagination.page %}
						<li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item active">
						     <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }} <span class="sr-only">(current)</span></a>
						   </li>
					{% endif %}
				{% else %}
					<li class="uk-disabled"><span>. . . </span></li>
				{% endif %}
			{%- endfor %}

			{% if pagination.has_next %}
				<li class="page-item"><a class="page-link" href="{{ url_for( endpoint, page=pagination.next_num)}}">Next</a></li>
			{% else %}
			    <li class="page-item disabled"><a class="page-link" href="{{ url_for( endpoint, page=pagination.next_num)}}">Next</a></li>
			{% endif%}
		</ul>
	</nav>
{% endmacro %}
